<a href="https://colab.research.google.com/github/Kobzarko/python_for_DA_tasks/blob/main/hw_3_3_%D0%A0%D0%BE%D0%B7%D1%88%D0%B8%D1%80%D0%B5%D0%BD%D1%96_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%B8_%D0%BE%D0%B1%D1%80%D0%BE%D0%B1%D0%BA%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D1%83_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [5]:
import pandas as pd

In [14]:

# from google.colab import drive
# drive.mount('/content/drive')

# data_path ='/content/drive/MyDrive/Colab Notebooks/Data/supermarket_sales.csv'

data_path ='../Data/supermarket_sales.csv'

df = pd.read_csv(data_path)

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [19]:
df.sort_values('Unit price', ascending=False).head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,17:26,Credit card,899.64,4.761905,44.9820,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.9760,629.4960,3/24/2019,13:33,Ewallet,599.52,4.761905,29.9760,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.9890,209.7690,2/26/2019,11:48,Ewallet,199.78,4.761905,9.9890,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.9490,628.9290,3/4/2019,15:02,Ewallet,598.98,4.761905,29.9490,8.5
941,702-83-5291,C,Naypyitaw,Member,Male,Fashion accessories,99.82,9,44.9190,943.2990,3/27/2019,10:43,Cash,898.38,4.761905,44.9190,6.6
300,446-47-6729,C,Naypyitaw,Normal,Male,Fashion accessories,99.82,2,9.9820,209.6220,1/2/2019,18:09,Credit card,199.64,4.761905,9.9820,6.7
362,471-41-2823,C,Naypyitaw,Normal,Male,Food and beverages,99.79,2,9.9790,209.5590,3/7/2019,20:37,Ewallet,199.58,4.761905,9.9790,8.0
326,815-11-1168,A,Yangon,Member,Male,Food and beverages,99.78,5,24.9450,523.8450,3/9/2019,19:09,Cash,498.90,4.761905,24.9450,5.4
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [8]:
df[df['Product line'] == 'Electronic accessories'].nlargest(1,['Unit price','Quantity'])

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5,Medium

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [9]:
def category_rating(val):
    if val >= 8:
        return 'High'
    elif val >= 6 and val < 8:
        return 'Medium'
    else:
        return 'Low'

df['Rating Category'] = df.Rating.apply(category_rating)

df[['Rating Category','Rating']].head(10)

  Rating Category  Rating
0            High     9.1
1            High     9.6
2          Medium     7.4
3            High     8.4
4             Low     5.3
5             Low     4.1
6             Low     5.8
7            High     8.0
8          Medium     7.2
9             Low     5.9

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [10]:
df['Rating Category'].value_counts(normalize = True)*100

Rating Category
Medium    35.6
High      32.9
Low       31.5
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [11]:
time = '11:28'
type(time)

str

In [21]:
def get_hour(val):
  return int(val.split(':')[0])

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [22]:
df['Hour'] = df.Time.apply(get_hour)
df[['Product line','Unit price','Hour']].head(10)

             Product line  Unit price  Hour
0       Health and beauty       74.69    13
1  Electronic accessories       15.28    10
2      Home and lifestyle       46.33    13
3       Health and beauty       58.22    20
4       Sports and travel       86.31    10
5  Electronic accessories       85.39    18
6  Electronic accessories       68.84    14
7      Home and lifestyle       73.56    11
8       Health and beauty       36.26    17
9      Food and beverages       54.84    13

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [56]:
# invoices_per_hour = df.groupby('Hour').size()
# invoices_per_hour.sort_values(ascending=False)

invoices_per_hour = df['Hour'].value_counts()
invoices_per_hour

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

Найбільше покупок випадає на 19 годину, це логічно тому що люди повертаються з роботи та хочуть купити щось на вечерю. Щодо 13 та 15 годин, то це скоріш домогосподарки та люди які на даний момент не працюють.

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [70]:
# df[['Total','City']].groupby(['City']).mean()

avg_total_per_city = df.groupby('City')['Total'].mean()

avg_total_per_city

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [73]:
agg_Total = df.groupby('City')['Total'].agg(['count','mean','min','max'])
agg_Total

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

## Висновок
У **Naypyitaw** зосередьтеся на підтримці або підвищенні середніх показників шляхом поліпшення обслуговування клієнтів або впровадження нових продуктів.

Для **Mandalay** розгляньте можливість стабілізації показників, можливо, через більш детальне вивчення та контроль коливань.

**Yangon** може виграти від фокусування на підвищенні середнього рівня шляхом аналізу причин нижчих середніх показників.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [75]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Data/supermarket_sales_enriched.csv', index=False)

In [76]:
data_path ='/content/drive/MyDrive/Colab Notebooks/Data/supermarket_sales_enriched.csv'

df_updated = pd.read_csv(data_path)

In [80]:
(df_updated.shape,df.shape)

((1000, 19), (1000, 19))

[лінка на оновлений файл](https://drive.google.com/file/d/16rLIg3LVbUdCohI-z1lLqkB11RNrz3lz/view?usp=sharing)